version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: devops-postgres
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: devops_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: devops-backend
    environment:
      PORT: 5000
      DB_HOST: postgres
      DB_USER: dev
      DB_PASSWORD: dev
      DB_NAME: devops_db
      DB_PORT: 5432
    ports:
      - "5000:5000"
    depends_on:
      - postgres

volumes:
  postgres_data: